@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300&family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }
 .cards{
  position: relative;
  width: 100%;
  height: auto;
  // margin-top: 4%;
  z-index: 1;
}
.card{
  margin: 4% 1% 0 1%;
  background: rgba(255, 255, 255, 0.1);
  width: 21.75%;
  border-radius: 12px;
  float: left;
}
.card_info{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  height: 18%;
  padding: 16px 14px 14px 14px;
}
.card_category{
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 2px;
  width: 150px;
  height: 150px;
  margin-left: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 700;
  color: #000000;
  background-color: #fff;
}
.card_title{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Raleway",sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #000000;
  background-color: transparent;
  text-transform: capitalize;
}