.messenger-container {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    height: calc(100vh - 90px);
    width: 350px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 2;
    .messenger-header {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0;
      h3 {
        margin: 0;
        font-weight: 400;
      }
      .icon {
        cursor: pointer;
        font-size: 20px;
      }
    }
    .messenger-header-tabs {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eee;
      .tab {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: #555;
        p {
          margin-left: 10px;
        }
        &.active {
          border-bottom: 2px solid #04796a;
          color: #04796a;
        }
        &:hover {
          cursor: pointer;
          background: rgba(0, 121, 107, 0.039);
        }
      }
    }
    .chat-section {
      padding: 20px;
      flex: 1;
      overflow-x: hidden; 
      overflow-y: scroll;
      // position: absolute;
      z-index: 2;
      .chat-block {
        margin-bottom: 30px;
        .sender {
          width: 100%;
          font-weight: 700;
          font-size: 14px;
          width: 150px;
          small {
            margin-left: 5px;
            font-weight: 700;
          }
        }
        .msg {
          margin: 0;
          width: 100%;
          display: grid;
          position: relative;
          padding-top: 5px;
          color: #555;
          font-size: 14px;
          z-index: 5;
        }
        .sender1 {
          width: 100%;
          left: 190px;
          position: relative;
          display: flex;
          float: right;
          font-weight: 700;
          font-size: 14px;
          small {
            margin-left: 5px;
            font-weight: 700;
          }
        }
        .msg1 {
          display: grid;
          // float: right;
          left: 190px;
          margin: 5px;
          position: relative;
          padding-top: 7px;
          color: #555;
          font-size: 14px;
        }
      }
    }
    .send-msg-section {
      padding: 20px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #555;
      input {
        padding: 5px;
        border: none;
        outline: none;
        border-bottom: 1px solid #eee;
        width: 80%;
      }
      .icon {
        cursor: pointer;
        &:hover {
          color: #04796a;
        }
      }
      .people-section{
        padding: 20px;
        flex: 1;
        overflow-x: hidden; 
        overflow-y: scroll;
        z-index: 4;
        height: 67vh;
        width: 58vh;
        position: absolute;
        right: 0px;
        top: 110px;
        background: rgb(255, 254, 254);
        .list {
          margin-bottom: 30px;
          .naam{
            width: 100%;
            height: 5vh;
            position: relative;
            display: flex;
            font-size: 1.2em;
            align-items: center;
            justify-content: center;
            color: black;
            padding: 5px;
            border-bottom: 2px solid rgba(121, 255, 239, 0.139);
            .icon{
              padding: 5px;
            }
          }

      }
    }
  }
}

  